{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest/globals": true,
    "testcafe/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier", "import", "simple-import-sort", "jest", "testcafe"],
  "rules": {
    "import/default": "off",
    "import/no-default-export": "error",
    "prettier/prettier": "error",
    "import/no-named-as-default": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "import/order": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Side effect imports.
          ["^\\u0000"],
          // Packages.
          ["^react", "@reduxjs/toolkit", "styled-components", "^@material-ui", "^@?\\w"],
          // Internal packages.
          ["^(components|pages|store|styles)(/.*)"],
          // Parent imports. Put `..` last.
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          // Other relative imports. Put same-folder imports and `.` last.
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          // Style imports.
          ["^.+\\.s?css$"]
        ]
      }
    ],
    "sort-imports": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".tsx", ".ts", ".js", ".jsx"],
        "paths": ["./frontend/**/*", "./backend/"]
      }
    }
  }
}
